* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  /* font-weight: 400; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  list-style: none;
}
.nav-list-1,
.nav-list-2 {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}
.main-nav-link {
  text-decoration: none;
  color: black;
}

.sign-in {
  background-color: #0b57d0;
  padding: 1.6rem 1.6rem;
  border-radius: 2.5rem;
  color: #fff;
  display: inline-block;
  min-width: 10rem;
  text-align: center;
}

.footer {
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
}

.footer-nav-1 {
  border-bottom: 1px solid #dadce0;
  padding: 1.2rem;
}

.footer-nav-2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem;
}
.footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}
.google-logo {
  width: 25%;
}
.container-logo {
  /* width: 100%; */
  /* background-color: #0b57d0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
.container-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
