* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  /* font-weight: 400; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  list-style: none;
}
.nav-list-1,
.nav-list-2 {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}
.main-nav-link {
  text-decoration: none;
  color: black;
}

.sign-in {
  background-color: #0b57d0;
  padding: 1.6rem 1.6rem;
  border-radius: 2.5rem;
  color: #fff;
  display: inline-block;
  min-width: 10rem;
  text-align: center;
}

.footer {
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
}

.footer-nav-1 {
  border-bottom: 1px solid #dadce0;
  padding: 1.2rem;
}

.footer-nav-2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem;
}
.footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}
.google-logo {
  width: 25%;
}
.container-logo {
  /* width: 100%; */
  /* background-color: #0b57d0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem 0 2rem 0; */
  margin-bottom: 2rem;
}
.container-textbox {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  border: 1px solid #dadce0;
  border-radius: 50rem;
  padding: 0.5rem;
  transition: box-shadow 0.3s ease; /* Smooth transition */
  margin-bottom: 2rem;
}
.container-textbox:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}
.search-img {
  flex: 0;
}

#name {
  width: 100%;
  border: none;
  margin-left: 1rem;
  font-size: 2.4rem;
}
.input-box {
  flex: 1;
}
input:focus {
  outline: none;
}
.voice-img {
  flex: 0;
  margin-right: 1rem;
}
.lens-img {
  flex: 0;
  margin-right: 1rem;
}
.boxes-bellow-search {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 350;
  transition: box-shadow 0.3s ease;
  margin-bottom: 2rem;
}
.button-bellow-search {
  background-color: #f8f9fa;
  /* background-color: #0b57d0; */
  padding: 1rem;
  border-radius: 0.4rem;
  color: #3c4043;
  cursor: pointer;
  text-align: center;
  border: none;
}
.button-bellow-search:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  border: 1px solid #f8f9fa;
}
.box-last {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}
.text-lang {
  text-decoration: none;
}
